<div *ngIf="listofFavJobs.length > 0">
    <div *ngFor="let favJob of listofFavJobs">
        <div class="row">
            <div class="col">
                <img src="{{favJob.companyLogo}}" alt="Favorite Job Logo image" />
            </div>
            <div class="col">
                <a (click)="jobDetail(favJob)">
                    <h3>{{favJob.title}}</h3>
                </a>
                <div class="disc">
                    <h5>Company : {{favJob.companyName}} Reference : {{favJob.reference}}</h5>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
<div *ngIf="listofFavJobs.length == 0">
    <div class="bestjob">{{noFavJob}}</div>
</div>